* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: skyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.output {
  margin: auto;
  width: 80%;
  height: 50vh;
  padding: 30px 50px;
  background-color: #fff;
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: auto;
}

.close {
  margin: auto;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #ff4a4a;
  border-radius: 20px;
  color: white;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 3px solid white;
}

.close:hover {
  cursor: pointer;
}

.word-grid {
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 10vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
}

.square {
  margin: 3px 3px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5ff00), color-stop(#fffb02), to(#ffbb00));
  background-image: linear-gradient(#e5ff00, #fffb02, #ffbb00);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(253, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(253, 0, 0, 0.5);
  color: #854b00;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.square:hover {
  cursor: pointer;
}

.items {
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: #48bbe9;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.items div {
  margin: auto;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid white;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.wood {
  background-image: url(../Images/wood.png);
}

.stone {
  background-image: url(../Images/stone.png);
}

.metal {
  background-image: url(../Images/metal.png);
}

.amethyst {
  background-image: url(../Images/amethyst.png);
}

.ice {
  background-image: url(../Images/ice.png);
}

.opt {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}

.clear {
  margin: auto;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ff4a4a;
  border-radius: 20px;
  color: white;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 3px solid white;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.clear:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=styles.css.map */